#main{
    min-height: 650px;
}
#mainDel{
  min-height: 580px;
}
#main img{
  object-fit: cover;

}
#main a{
  color: black;
}

.btn-primary{
  background-color:#CFB53B;
  font-family: Nanum Gothic, monospace;
  font-size: 13px;
  color: white;
  text-transform: uppercase;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid white;
}

.btn-primary:hover{
  background-color: white;
  color: #CFB53B;
  border-color: #CFB53B;
}
