.dark{
  color: #D3D3D3;
  background-image:url("../storage/dark.jpg");
}

.light{
  color: black;
  background-image:url("../storage/light.jpg");
}

body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
